
<body id="sign-in">
  <div class="wrapper-center">
    <h2>Log in</h2>
    <div class="container-form">
      <div class="container-fields">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field remember-me">
              <div class="checkbox">
                <%= f.check_box :remember_me %>
              </div>
              <div class="checkbox-label">
                <%= f.label :remember_me %>
              </div>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render "devise/shared/links" %>

  </div>
</body>
