<div class="home-nav">
  <%= image_tag("logo.png", alt: "Logo") %>
  <div class="navbar-right user-actions">
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <div class="sign-up-button">
        <%= link_to "Sign Up", new_user_registration_path %>
      </div>
    <% end %>
  </div>
</div>
<div>
  <div id="home-main">
    <h1 class="home-text header-text oldnum">The T206 Project</h1>
    <h3 class="home-text body-text oldnum">Experience the legendary T206 baseball card set</h3>
  </div>
  <div class="card-input body-text oldnum">
    <%= form_for @card do |f| %>
      <%= f.select :card_name, options_from_collection_for_select(Psa_pop.select(:psa_card).distinct.order(:psa_card), :psa_card, :psa_card, ) %>
      </br>
      <%= f.submit "Card Details"%>
    <% end %>
  </div>
</div>
