<!DOCTYPE html>
<html>
  <head>
    <%= typekit 'fsf0hpq' %>
    <title>T206.io</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body id="<%= page_id %>">

    <%= render 'layouts/header' %>

    <div class="wrapper">
      
      <div class="flash-fade">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <div class="content">
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>

    </div>
  </body>
</html>
